{% extends 'en/index.html' %}
{% block head %}
<head>
		<title>About us</title>
		<!-- for-mobile-apps -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

		<link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
		<link rel="stylesheet" href="/static/css/jquery-ui.css" />
		<link href="/static/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
		<link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all" />
		<link href="/static/css/lightbox.css" rel="stylesheet" />
		<!-- js -->
		<script type="text/javascript" src="/static/js/jquery-2.1.4.min.js"></script>
		<script type="text/javascript" src="/static/js/numscroller-1.0.js"></script>
		<!-- start-smoth-scrolling -->
		<script type="text/javascript" src="/static/js/move-top.js"></script>
		<script type="text/javascript" src="/static/js/easing.js"></script>
		<script type="text/javascript" src="/static/js/lightbox-2.6.min.js"></script>

		<script src="/static/js/jquery-ui.js"></script>
		<script type="text/javascript" src="/static/js/jquery.carouFredSel-6.2.0-packed.js"></script>

		<!--/End-date-piker-->
		<script src="/static/js/responsiveslides.min.js"></script>
		<!--animate-->
		<link href="/static/css/animate.css" rel="stylesheet" type="text/css" media="all">

		<!--//end-animate-->
	</head>

{% endblock %}

{% block content %}
  		<div class="nav-menu dn1" id="nav-menu">
			<div class="header-bottom" style="padding: 20px 0px 0px 0px;">
				<div class="container">
					<nav class="navbar navbar-default">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
							<div class="logo grid">
								<div class="grid__item color-3">
									<h1><a class="link link--nukun" href="/"><img src="/static/images/logo.png" alt="logo" style="width: 126px;height: 43px;margin-top: -22px;"></a></h1>
								</div>
							</div>
						</div>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
							<nav class="menu menu--horatio">
								<ul class="nav navbar-nav menu__list">
									<li class="menu__item ">
										<a href="/" class="menu__link">Home</a>
									</li>
									<li class="menu__item">
										<a  class="menu__link">Products</a>
										<ul>
											{% for product in products_list %}
											<li>
												<a href="{% url 'show_pro' product.id %}">{{ product.name }}</a>
											</li>
											{% endfor %}
										</ul>
									</li>
									<li class="menu__item menu__item--current">
										<a href="/about_us" class="menu__link">About Us</a>
									</li>
									<li class="menu__item">
										<a href="/information" class="menu__link">Information</a>
									</li>
									<li class="menu__item ">
										<a href="/contact_us" class="menu__link ">Contact Us</a>
									</li>
								</ul>
							</nav>
						</div>
						<!-- /.navbar-collapse -->
					</nav>
				</div>
			</div>
		</div>

		<div class="nav-menu dn2" id="nav-menu">
			<div class="header-top">
				<div class="logo grid">
					<div class="grid__item color-3">
						<h1><a class="link link--nukun" href="/"><img src="/static/images/logo.png" alt="logo" style="width: 126px;height: 43px;"></a></h1>
					</div>
				</div>
			</div>
			<div class="header-bottom">
				<div class="container">
					<nav class="navbar navbar-default">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
						</div>
						<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
							<nav class="menu menu--horatio">
								<ul class="nav navbar-nav menu__list">
									<li class="menu__item ">
										<a href="/" class="menu__link">Home</a>
									</li>
									<li class="menu__item">
										<a  class="menu__link">Products</a>
										<ul>
											{% for product in products_list %}
											<li>
												<a href="{% url 'show_pro' product.id %}">{{ product.name }}</a>
											</li>
											{% endfor %}
										</ul>
									</li>
									<li class="menu__item menu__item--current">
										<a href="/about_us" class="menu__link">About Us</a>
									</li>
									<li class="menu__item">
										<a href="/information" class="menu__link">Information</a>
									</li>
									<li class="menu__item ">
										<a href="/contact_us" class="menu__link ">Contact Us</a>
									</li>
								</ul>
							</nav>
						</div>
					</nav>
				</div>
			</div>
		</div>


        <!-- news -->
		<div class="content">
			<div class="container">

				<div class="col-md-6 content_left wow flipInY" data-wow-duration="1.5s" data-wow-delay="0.2s">
					<div class="welcome">
						<h3>News</h3>
				{% for news in top_news %}
						<ul>
							<li>
								<a href="{% url 'news_detail' news.id %}">{{ news.title }}</a><span class="news-date"> {{ news.datetime }}</span></li>
						</ul>
				{% endfor %}
					</div>
				</div>
				<div class="col-md-6 content_right wow flipInY" data-wow-duration="1.5s" data-wow-delay="0.1s" style="margin-top: -128px;">
					<img class="img-responsive" src="/upload/{{ img_news.picture}}" />
				</div>

				<div class="clearfix"></div>
			</div>
		</div>
		<!-- //news -->

<!-- Certificate -->
			<div class="container" style="width: 100%;background: #F7F7F7;">
			<h3 class="tittle" style="margin: 40px;">Certificate</h3>
			<div class="bodyCon08">
				<div class="students">
					<div id="four_flash">
						<div class="flashBg">
							<ul class="mobile">
								{% for cer in cers %}
								<li>
									<a href='/upload/{{ cer.images }}' data-lightbox="roadtrip"><img src="/upload/{{ cer.images }}"></a>
								</li>
								{% endfor %}
							</ul>
						</div>
						<div class="but_left"><img src="/static/images/qianxleft.png" /></div>
						<div class="but_right"><img src="/static/images/qianxr.png" /></div>
					</div>
				</div>
			</div>
		</div>


{% endblock %}


