{% extends 'en/index.html' %}
{% block head %}
<head>
		<title>Contact us</title>
		<!-- for-mobile-apps -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
		<link rel="stylesheet" href="/static/css/jquery-ui.css" />
		<link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all" />
		<!-- js -->
		<script type="text/javascript" src="/static/js/jquery-2.1.4.min.js"></script>

		<style>
			.contact-left h2,
			.contact-right h3 {
				color: #000;
			}
			.contact-left input[type="text"],
			.contact-left input[type="email"] {
				border: 1px solid #000;
				color: #000;
			}
			.services {
				background: none;
			}

			input[type=text]:focus,
			input[type=email]:focus,
			input[type=password]:focus,
			textarea:focus {
				border: 1px solid #349dff;
			}
		</style>
	</head>
{% endblock %}

{% block content %}
    		<div class="nav-menu dn1" id="nav-menu">
			<div class="header-bottom" style="padding: 20px 0px 0px 0px;">
				<div class="container">
					<nav class="navbar navbar-default">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
							<div class="logo grid">
								<div class="grid__item color-3">
									<h1><a class="link link--nukun" href="/"><img src="/static/images/logo.png" alt="logo" style="width: 126px;height: 43px;margin-top: -22px;"></a></h1>
								</div>
							</div>
						</div>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
							<nav class="menu menu--horatio">
								<ul class="nav navbar-nav menu__list">
									<li class="menu__item ">
										<a href="/" class="menu__link">Home</a>
									</li>
									<li class="menu__item">
										<a  class="menu__link">Products</a>
										<ul>
											{% for product in products_list %}
											<li>
												<a href="{% url 'show_pro' product.name %}">{{ product.name }}</a>
											</li>
											{% endfor %}
										</ul>
									</li>
									<li class="menu__item">
										<a href="/about_us" class="menu__link">About Us</a>
									</li>
									<li class="menu__item">
										<a href="/information" class="menu__link">Information</a>
									</li>
									<li class="menu__item menu__item--current">
										<a href="/contact_us" class="menu__link ">Contact Us</a>
									</li>
								</ul>
							</nav>
						</div>
						<!-- /.navbar-collapse -->
					</nav>
				</div>
			</div>
		</div>

		<div class="nav-menu dn2" id="nav-menu">
			<div class="header-top">
				<div class="logo grid">
					<div class="grid__item color-3">
						<h1><a class="link link--nukun" href="/"><img src="/static/images/logo.png" alt="logo" style="width: 126px;height: 43px;"></a></h1>
					</div>
				</div>
			</div>
			<div class="header-bottom">
				<div class="container">
					<nav class="navbar navbar-default">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
						</div>
						<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
							<nav class="menu menu--horatio">
								<ul class="nav navbar-nav menu__list">
									<li class="menu__item ">
										<a href="/" class="menu__link">Home</a>
									</li>
									<li class="menu__item">
										<a  class="menu__link">Products</a>
										<ul>
											{% for product in products_list %}
											<li>
												<a href="{% url 'show_pro' product.name %}">{{ product.name }}</a>
											</li>
											{% endfor %}
										</ul>
									</li>
									<li class="menu__item">
										<a href="/about_us" class="menu__link">About Us</a>
									</li>
									<li class="menu__item">
										<a href="/information" class="menu__link">Information</a>
									</li>
									<li class="menu__item menu__item--current">
										<a href="/contact_us" class="menu__link ">Contact Us</a>
									</li>
								</ul>
							</nav>
						</div>
					</nav>
				</div>
			</div>
		</div>
		<!-- services -->
		<div class="services">
			<div class="container">
				{% for com_info in com_info%}
				<div class="col-md-4 contact-right wow fadeIn animated animated" data-wow-delay="0.1s" data-wow-duration="2s" style="margin-top: 68px;">
					<h3>Phone:</h3>
					<ul class="con-icons" style="margin: 10px 0;">
						<li><span class="glyphicon glyphicon-phone" aria-hidden="true"></span>{{ com_info.number }}</li>
					</ul>
					<h3>Address:</h3>
					<ul class="con-icons" style="margin: 10px 0;">
						<li><span class="glyphicon glyphicon-phone" aria-hidden="true"></span> {{ com_info.addr}}</li>
					</ul>
					<ul class="fb_icons" style="margin: 10px 0;">
						<li class="hvr-rectangle-out">
							<a class="fb" href="{{ com_info.fa}}"></a>
						</li>
						<li class="hvr-rectangle-out">
							<a class="twit" href="{{ com_info.tw }}"></a>
						</li>
						<li class="hvr-rectangle-out">
							<a class="goog" href="{{ com_info.go }}"></a>
						</li>
						<li class="hvr-rectangle-out">
							<a class="pin" href="#"></a>
						</li>
						<li class="hvr-rectangle-out">
							<a class="drib" href="#"></a>
						</li>
					</ul>
				</div>
                {% endfor %}
				<div class="col-md-8 contact-left wow fadeIn animated animated" data-wow-delay="0.1s" data-wow-duration="2s" style="border-right: none;">
					<h2>INQUIRY</h2>
					<div class="strip"></div>
					{% if TIJIAO %}
					 <P style="font-size:30px;color:#E61AE6"><strong>{{ success }}<br> {{ wrong_init }}</strong></P>
					{% endif %}
					 <P id = 'wron_num' style="font-size:30px;color:#E61AE6"><strong></strong></P>
					<div style="border: 1px solid #000;padding: 0px 10px 0 20px;margin: 20px 20px 20px 0;">
						<form id='form_put' action="/contact_us/" method="post"  target="form_iframe">
							<input type="text" name="Name" placeholder="*Name"  required="required">
							<input type="text" name="Company" placeholder="Company Name"  required="">
							<input type="text" name="Tel"     id = 'tel' placeholder="Tel"  required="">
							<input type="text" name="Country" placeholder="Country" required="">
							<input type="email" name="Email" placeholder="*Email"  required="required">
							<textarea class="text-box" name="Requir" placeholder="Requirements"  required="" style="width: 96%;border: 1px solid #000;background: none;outline: none;color: #000;height: 200px;"></textarea>
							<input id='form_submit' type="submit" value="submit" style="margin-bottom: 30px;margin-top: 20px;" />
							<!--input type="reset" value="reset" style="margin-bottom: 30px;margin-top: 20px;"-->
						</form>
					</div>
					<iframe id="id_iframe" name="form_iframe" style="display:none;"></iframe>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<!-- //services -->
{% endblock %}
{% block footer %}

<div class="contact">
			<div class="container">
				<div class="col-md-6 contact-right wow fadeIn animated animated" data-wow-delay="0.1s" data-wow-duration="2s" style="padding-top: 20px;">
					<h3 style="color: #fff;">Contact Us</h3>
					<div class="strip" style="margin-top: 5px;"></div>
					<ul class="con-icons">
						{% for com_info in com_info %}
						<li><span class="glyphicon glyphicon-phone" aria-hidden="true"></span>{{ com_info.number}}</li>
						<li>
							<a href="mailto:{{ com_info.email }}"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>{{ com_info.email }}</a>
						</li>
						{% endfor %}
					</ul>
					<ul class="fb_icons">
						<li class="hvr-rectangle-out">
							<a class="fb" href="#"></a>
						</li>
						<li class="hvr-rectangle-out">
							<a class="twit" href="#"></a>
						</li>
						<li class="hvr-rectangle-out">
							<a class="goog" href="#"></a>
						</li>
						<li class="hvr-rectangle-out">
							<a class="pin" href="#"></a>
						</li>
						<li class="hvr-rectangle-out">
							<a class="drib" href="#"></a>
						</li>
					</ul>
					<p class="copy-right" style="margin-top: -30px;">{{ com_info.trademark  }}</p>
				</div>

				<div  class="col-md-6 contact-left wow fadeIn animated animated" data-wow-delay="0.1s" data-wow-duration="2s" style="padding-top: 60px;">
					<h2 style="color: #fff;">Find a Doctor</h2>
					   <p id='result' style="color:#fff;font-size:30px"></p>
					<form  id='email_put' method="post" action="/email/" style="margin-top: 10px;"   target="nm_iframe">
						<input style="color: #fff;border: 1px solid #fff;" id="email" type="email" name="email" placeholder="Email"  required=""/>
						<input type="submit" id="sub"  value="submit"  style="margin-left: -6px;" />
					</form>
				</div>
				<div class=" clearfix "></div>
			</div>
	   <iframe id="id_iframe" name="nm_iframe" style="display:none;"></iframe>


<script >
     $('#sub').click(function(){
     $('#result').html('提交成功');
     $('#email_put').submit()
     document.getElementById('email_put').reset();

})
</script>



 <script type="text/javascript " src="/static/js/bootstrap-3.1.1.min.js "></script>
{% endblock %}