{% extends 'en/index.html' %}

{% block content %}
<!-- services -->
		<div class="services">
			<div class="container">
				<div class="col-md-4 contact-right wow fadeIn animated animated" data-wow-delay="0.1s" data-wow-duration="2s" style="margin-top: 68px;">
					<h3>Phone:</h3>
					<ul class="con-icons" style="margin: 10px 0;">
						<li><span class="glyphicon glyphicon-phone" aria-hidden="true"></span>0086-21-51698555</li>
					</ul>
					<h3>Address:</h3>
					<ul class="con-icons" style="margin: 10px 0;">
						<li><span class="glyphicon glyphicon-phone" aria-hidden="true"></span> NO.898, Xiuwen Rd, Minhang District, Shanghai, China</li>
					</ul>
					<ul class="fb_icons" style="margin: 10px 0;">
						<li class="hvr-rectangle-out">
							<a class="fb" href="#"></a>
						</li>
						<li class="hvr-rectangle-out">
							<a class="twit" href="#"></a>
						</li>
						<li class="hvr-rectangle-out">
							<a class="goog" href="#"></a>
						</li>
						<li class="hvr-rectangle-out">
							<a class="pin" href="#"></a>
						</li>
						<li class="hvr-rectangle-out">
							<a class="drib" href="#"></a>
						</li>
					</ul>
				</div>

				<div class="col-md-8 contact-left wow fadeIn animated animated" data-wow-delay="0.1s" data-wow-duration="2s" style="border-right: none;">
					<h2>INQUIRY</h2>
					<div class="strip"></div>
					<div style="border: 1px solid #000;padding: 0px 10px 0 20px;margin: 20px 20px 20px 0;">
						<form action="#" method="post">
							<input type="text" name="Name" placeholder="*Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}" required="">
							<input type="text" name="Name" placeholder="Company Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Company Name';}" required="">
							<input type="text" name="Name" placeholder="Tel" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Tel';}" required="">
							<input type="text" name="Name" placeholder="Country" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Country';}" required="">
							<input type="email" name="Email" placeholder="*Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
							<textarea  class="text-box" name="Name" placeholder="Requirements" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Requirements';}" required="" style="width: 96%;border: 1px solid #000;background: none;outline: none;color: #000;height: 200px;"></textarea>
							<input type="submit" value="submit" style="margin-bottom: 30px;margin-top: 20px;" />
						</form>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<!-- //services -->
{% endblock %}