{% extends 'en/index.html '%}
{% block head %}
<head>
		<title>Information</title>
		<!-- for-mobile-apps -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
		<link rel="stylesheet" href="css/jquery-ui.css" />
		<link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all" />
		<!-- js -->
		<script type="text/javascript" src="/static/js/jquery-2.1.4.min.js"></script>
		<!-- start-smoth-scrolling -->
		<script type="text/javascript" src="/static/js/easing.js"></script>
		<script src="/static/js/highlight.pack.js"></script>
		<script src="/static/js/velocity.min.js"></script>
		<script src="/static/js/bellows.min.js"></script>
		<script>
			$(function() {
				$('.bellows').bellows();
			});
		</script>
		<script src="/static/js/jquery-ui.js"></script>
		<!--/End-date-piker-->
		<script src="/static/js/responsiveslides.min.js"></script>
		<style>
			.bellows__content p {
				text-indent: 20px;
			}
		</style>
	</head>
{% endblock %}

		{% block content %}
    <!--menu-->
<div class="nav-menu dn1" id="nav-menu">
			<div class="header-bottom" style="padding: 20px 0px 0px 0px;">
				<div class="container">
					<nav class="navbar navbar-default">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
							<div class="logo grid">
								<div class="grid__item color-3">
									<h1><a class="link link--nukun" href="/"><img src="/static/images/logo.png" alt="logo" style="width: 126px;height: 43px;margin-top: -22px;"></a></h1>
								</div>
							</div>
						</div>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
							<nav class="menu menu--horatio">
								<ul class="nav navbar-nav menu__list">
									<li class="menu__item ">
										<a href="/" class="menu__link">Home</a>
									</li>
									<li class="menu__item">
										<a  class="menu__link">Products</a>
										<ul>
											{% for product in products_list %}
											<li>
												<a href="{% url 'show_pro' product.name %}">{{ product.name }}</a>
											</li>
											{% endfor %}
										</ul>
									</li>
									<li class="menu__item">
										<a href="/about_us" class="menu__link">About Us</a>
									</li>
									<li class="menu__item menu__item--current">
										<a href="/information" class="menu__link">Information</a>
									</li>
									<li class="menu__item">
										<a href="/contact_us" class="menu__link">Contact Us</a>
									</li>
								</ul>
							</nav>
						</div>
						<!-- /.navbar-collapse -->
					</nav>
				</div>
			</div>
		</div>

		<div class="nav-menu dn2" id="nav-menu">
			<div class="header-top">
				<div class="logo grid">
					<div class="grid__item color-3">
						<h1><a class="link link--nukun" href="/"><img src="/static/images/logo.png" alt="logo" style="width: 126px;height: 43px;"></a></h1>
					</div>
				</div>
			</div>
			<div class="header-bottom">
				<div class="container">
					<nav class="navbar navbar-default">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
						</div>
						<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
							<nav class="menu menu--horatio">
								<ul class="nav navbar-nav menu__list">
									<li class="menu__item ">
										<a href="/" class="menu__link">Home</a>
									</li>
									<li class="menu__item">
										<a  class="menu__link">Products</a>
										<ul>
											{% for product in products_list %}
											<li>
												<a href="{% url 'show_pro' product.name %}">{{ product.name }}</a>
											</li>
											{% endfor %}
										</ul>
									</li>
									<li class="menu__item">
										<a href="/about_us" class="menu__link">About Us</a>
									</li>
									<li class="menu__item menu__item--current">
										<a href="/information" class="menu__link">Information</a>
									</li>
									<li class="menu__item">
										<a href="/contact_us" class="menu__link">Contact Us</a>
									</li>
								</ul>
							</nav>
						</div>
					</nav>
				</div>
			</div>
		</div>
<!--//menu-->

		<!-- FAQ -->
		<div class="container" style="margin-top: 140px;margin-bottom: 40px;">
			<div class="viewport" style="max-width: 760px;margin: 0 auto;">
				<div class="main-content">
					<h2 id="demo" style="text-align: center;padding: 30px 0;color: #90005e;">FAQ</h2>
					<div class="bellows">
						{% for faq in faq %}
						   {% if forloop.first %}
						    <div class="{{ class1 }}">
								<div class="bellows__header">
								<h3>{{ faq.question }}</h3>
							</div>
							<div class="bellows__content">
								{{ faq.answer|safe }}
										</div>
							{% else %}
							<div class="{{ class2 }} ">
								<div class="bellows__header">
								<h3>{{ faq.question }}</h3>
							</div>
							<div class="bellows__content">
								{{ faq.answer|safe }}
										</div>
						    {% endif %}

						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		<!-- //FAQ -->
		{% endblock %}

