{% extends 'en/index.html'%}

{% block head %}
<head>
		<title>About us</title>
		<!-- for-mobile-apps -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

		<link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
		<link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all" />
		<!-- js -->
		<script type="text/javascript" src="/static/js/jquery-2.1.4.min.js"></script>
		<!-- start-smoth-scrolling -->
		<style>
			.content_left h3 {
				color: #0b61a8;
				text-align: center;
			}

			.content_left ul li {
				margin: 40px 0;
			}
		</style>
	</head>
{% endblock %}

{% block content%}
        <div class="nav-menu dn1" id="nav-menu">
			<div class="header-bottom" style="padding: 20px 0px 0px 0px;">
				<div class="container">
					<nav class="navbar navbar-default">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
							<div class="logo grid">
								<div class="grid__item color-3">
									<h1><a class="link link--nukun" href="/"><img src="/static/images/logo.png" alt="logo" style="width: 126px;height: 43px;margin-top: -22px;"></a></h1>
								</div>
							</div>
						</div>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
							<nav class="menu menu--horatio">
								<ul class="nav navbar-nav menu__list">
									<li class="menu__item ">
										<a href="/" class="menu__link">Home</a>
									</li>
									<li class="menu__item">
										<a  class="menu__link">Products</a>
										<ul>
											{% for product in products_list %}
											<li>
												<a href="{% url 'show_pro' product.id %}">{{ product.name }}</a>
											</li>
											{% endfor %}
										</ul>
									</li>
									<li class="menu__item menu__item--current">
										<a href="/about_us" class="menu__link">About Us</a>
									</li>
									<li class="menu__item">
										<a href="/information" class="menu__link">Information</a>
									</li>
									<li class="menu__item ">
										<a href="/contact_us" class="menu__link ">Contact Us</a>
									</li>
								</ul>
							</nav>
						</div>
						<!-- /.navbar-collapse -->
					</nav>
				</div>
			</div>
		</div>

		<div class="nav-menu dn2" id="nav-menu">
			<div class="header-top">
				<div class="logo grid">
					<div class="grid__item color-3">
						<h1><a class="link link--nukun" href="/"><img src="/static/images/logo.png" alt="logo" style="width: 126px;height: 43px;"></a></h1>
					</div>
				</div>
			</div>
			<div class="header-bottom">
				<div class="container">
					<nav class="navbar navbar-default">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
						</div>
						<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
							<nav class="menu menu--horatio">
								<ul class="nav navbar-nav menu__list">
									<li class="menu__item ">
										<a href="/" class="menu__link">Home</a>
									</li>
									<li class="menu__item">
										<a  class="menu__link">Products</a>
										<ul>
											{% for product in products_list %}
											<li>
												<a href="{% url 'show_pro' product.id %}">{{ product.name }}</a>
											</li>
											{% endfor %}
										</ul>
									</li>
									<li class="menu__item menu__item--current">
										<a href="/about_us" class="menu__link">About Us</a>
									</li>
									<li class="menu__item">
										<a href="/information" class="menu__link">Information</a>
									</li>
									<li class="menu__item ">
										<a href="/contact_us" class="menu__link ">Contact Us</a>
									</li>
								</ul>
							</nav>
						</div>
					</nav>
				</div>
			</div>
		</div>

<div class="content" style="margin-top: 150px;">
			<div class="container" style="max-width: 970px;">

				<div class="col-md-12 content_left flipInY">
					<div class="welcome" style="padding-top: 0;min-height:0;">
						<ul>
							<li style="text-indent: 32px;margin-top: 0;height: 550px;">
								<p>
									<h3 style="padding-left: 0;">{{ news.title }}</h3>
								</p>
								<span class="news-date">{{ news.datetime }}</span>
								{{ news.context|safe }}
							</li>
						</ul>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>



{% endblock %}

{% block footer %}
<div class="contact">
			<div class="container">
				<div class="col-md-6 contact-right wow fadeIn animated animated" data-wow-delay="0.1s" data-wow-duration="2s" style="padding-top: 20px;">
					<h3 style="color: #fff;">Contact Us</h3>
					<div class="strip" style="margin-top: 5px;"></div>
					<ul class="con-icons">
						{% for com_info in com_info %}
						<li><span class="glyphicon glyphicon-phone" aria-hidden="true"></span>{{ com_info.number}}</li>
						<li>
							<a href="mailto:{{ com_info.email }}"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>{{ com_info.email }}</a>
						</li>
						{% endfor %}
					</ul>
					<ul class="fb_icons">
						<li class="hvr-rectangle-out">
							<a class="fb" href="#"></a>
						</li>
						<li class="hvr-rectangle-out">
							<a class="twit" href="#"></a>
						</li>
						<li class="hvr-rectangle-out">
							<a class="goog" href="#"></a>
						</li>
						<li class="hvr-rectangle-out">
							<a class="pin" href="#"></a>
						</li>
						<li class="hvr-rectangle-out">
							<a class="drib" href="#"></a>
						</li>
					</ul>
					<p class="copy-right" style="margin-top: -30px;">{{ com_info.trademark  }}</p>
				</div>

				<div class="col-md-6 contact-left wow fadeIn animated animated" data-wow-delay="0.1s" data-wow-duration="2s" style="padding-top: 60px;">
					<h2 style="color: #fff;">Find a Doctor</h2>
					{% if email_tijiao %}
					   <p style="color:#fff;font-size:30px">{{ success }}</p>
					{% endif %}

					<form id="email_put" action="/email/" method="post" style="margin-top: 10px;" target="nm_iframe">
						<input style="color: #fff;border: 1px solid #fff;" type="email" name="Email" placeholder="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
						<input type="submit" value="submit"  style="margin-left: -6px; />
						</form>
				</div>
				<div class=" clearfix "></div>
			</div>
	<iframe id="id_iframe" name="nm_iframe" style="display:none;"></iframe>
		</div>
<script type="text/javascript " src="/static/js/bootstrap-3.1.1.min.js "></script>
		<script>
			window.onscroll = function() {

				var scrollTop = document.body.scrollTop;

				if(scrollTop >= 500) {

					$(".dn1 ").css("display ", "block ");
					$(".dn2 ").css("display ", "none ");
				} else {
					$(".dn2 ").css("display ", "block ");
					$(".dn1 ").css("display ", "none ");
				}
			}
		</script>

{% endblock %}