<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <table width="800" border="0" cellpadding="0" cellspacing="0">
      <tr>
          <td bgcolor="#CECFAD" height="20" style="font-size:14px">*官网数据
          <a href="monitor.domain.com">更多</a></td>
      </tr>
      <tr>
          <td bgcolor="#EFEBDE" height="100" style="font-size:13px">
              1)日访问量:<font color=red>152343</font> 访问次数2345 页面浏览量：223443 点击书：324234  数据流量:233Mb<br>
              2)状态码信息<br>
              &nbsp;&nbsp;500:105  404:233 503:232<br>

          </td>
      </tr>
  </table>

</body>
</html>